name: CI/CD

on:
  push:
    branches:
      - main  # main 브랜치에 푸시될 때마다 실행

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

    - name: Deploy to EC2
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.EC2_HOST }} << 'EOF'
          cd chaeum_be
          pkill -f chaeum-be-0.0.1-SNAPSHOT.jar || true
          git pull origin main
          ./gradlew build -x test --no-daemon
          cd build/libs/
          nohup java -jar chaeum-be-0.0.1-SNAPSHOT.jar --server.address=0.0.0.0 --cloud.aws.region.static=ap-northeast-2 > app.log 2>&1 &
        EOF
